Calculating and adding Message-Authenticator

We have requests to support Message-Authenticator, as some Radius servers require this.
It doesn't seem to be any support for this in 1.1.8, and no easy way to add it. The code is defined, PW_MESSAGE_AUTHENTICATOR (80), but that doesn't help.

If I understand RFC 3579, section 3.2, correctly, you have to compute an HMAC-MD5 over the entire message, and this is not available to the caller. The message is packed in sendserver.c:rc_pack_list(), so I assume support for this needs to be added there.


The latest version in git has support for Messaage-Authenticator.